.btn {
    width: 60px;
    height: 60px;
    background: radial-gradient(rgb(0, 0, 0), rgb(102, 102, 102));
    display: inline-block;
    text-align: center;
    line-height: 60px;
    user-select: none;
    border-radius: 60px;
    font-family: magneto;
    color: rgb(38, 0, 255);
}

.btn:hover {
    background: radial-gradient(blue, black);
    color: rgb(255, 251, 0);
    transition: 0.2s;
}

#app{
    padding: 10px;
    width: 300px;
    text-align: center;
    background: rgb(53, 53, 53);
    margin: 0 auto;
    border-radius: 10px;
}

#calc {
    width: 240px;
    display: inline-block;
}

#input {
    width: 100%;
    border: 0;
    font-size: 32px;
    text-align: center;
    resize: vertical;
    font-family: lcd;
    background:rgb(53, 53, 53);
    color: rgb(0, 255, 0);
}
